/*********************** HEADER **************************/
.header_wrapper {
  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    #444cf7,
    #444cf7 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
  height: calc(100vh - 56px);
  width: 100%;
}

.header_img_l {
  position: absolute;
  top: 3rem;
  max-width: 100%;
}

.header_img_r {
  position: absolute;
  bottom: 3rem;
  right: 0;
  max-width: 100%;
}
.header_content {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  position: relative;
}

.header_card {
  width: 50%;
}

#header_particles {
  height: calc(100vh - 56px);
  width: 100%;
  position: absolute;
}
@media (max-width: 800px) {
  .header_img_l {
    display: none;
  }
  .header_img_r {
    display: none;
  }
  .header_card {
    width: auto;
  }
}

@media (max-width: 1500px) {
  .header_img_r {
    width: 30%;
  }
}
